src/NHibernate/nhibernate-generic.xsd

<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema'>
 <xs:annotation>
  -- This schema was automatically generated by Syntext Dtd2Schema --
  -- conversion tool (from file: hibernate-generic.dtd) --
  -- Copyright (C) 2002, 2003 Syntext Inc. See http://www.syntext.com for updates. --
 </xs:annotation>
 <xs:element name='array'>
  <xs:complexType>
   <xs:sequence>
     <xs:choice minOccurs='0' maxOccurs='unbounded'>
       <xs:element ref='element'/>
       <xs:element ref='subcollection'/>
       <xs:element ref='composite-element'/>
       <xs:element ref='array'/>
     </xs:choice>
   </xs:sequence>
  <xs:attribute name='element-type'/>
  <xs:attribute name='index-type'/>
  <xs:attribute name='role'/>
  <xs:attribute name='name' use='required'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='collection'>
  <xs:complexType>
   <xs:sequence>
     <xs:choice minOccurs='0' maxOccurs='unbounded'>
       <xs:element ref='element'/>
       <xs:element ref='subcollection'/>
       <xs:element ref='composite-element'/>
       <xs:element ref='array'/>
     </xs:choice>
   </xs:sequence>
  <xs:attribute name='class'/>
  <xs:attribute name='element-type'/>
  <xs:attribute name='index-type'/>
  <xs:attribute name='role'/>
  <xs:attribute name='name' use='required'/>
  <xs:attribute name='lazy'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='initialized'/>
     <xs:enumeration value='uninitialized'/>
     <xs:enumeration value='now-initialized'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  </xs:complexType>
 </xs:element>
 <xs:element name='component'>
  <xs:complexType>
   <xs:sequence>
     <xs:choice minOccurs='0' maxOccurs='unbounded'>
       <xs:element ref='property'/>
       <xs:element ref='component'/>
       <xs:element ref='collection'/>
       <xs:element ref='array'/>
     </xs:choice>
   </xs:sequence>
  <xs:attribute name='class'/>
  <xs:attribute name='name' use='required'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='composite-element'>
  <xs:complexType>
   <xs:sequence>
     <xs:choice minOccurs='0' maxOccurs='unbounded'>
       <xs:element ref='property'/>
       <xs:element ref='component'/>
       <xs:element ref='collection'/>
       <xs:element ref='array'/>
     </xs:choice>
   </xs:sequence>
  <xs:attribute name='class'/>
  <xs:attribute name='index'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='element'>
  <xs:complexType mixed='true'>
  <xs:attribute name='index'/>
  <xs:attribute name='class'/>
  <xs:attribute name='package'/>
  <xs:attribute name='proxy'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='initialized'/>
     <xs:enumeration value='uninitialized'/>
     <xs:enumeration value='now-initialized'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='uid'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='hibernate-generic'>
  <xs:complexType>
   <xs:sequence>
     <xs:element ref='object' minOccurs='0' maxOccurs='unbounded'/>
   </xs:sequence>
  <xs:attribute name='datetime'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='object'>
  <xs:complexType>
   <xs:sequence>
     <xs:element ref='uid' minOccurs='0'/>
     <xs:choice minOccurs='0' maxOccurs='unbounded'>
       <xs:element ref='property'/>
       <xs:element ref='component'/>
       <xs:element ref='collection'/>
       <xs:element ref='array'/>
     </xs:choice>
   </xs:sequence>
  <xs:attribute name='class' use='required'/>
  <xs:attribute name='package' use='required'/>
  <xs:attribute name='proxy'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='initialized'/>
     <xs:enumeration value='uninitialized'/>
     <xs:enumeration value='now-initialized'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='uid'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='property'>
  <xs:complexType mixed='true'>
  <xs:attribute name='name' use='required'/>
  <xs:attribute name='type'/>
  <xs:attribute name='class'/>
  <xs:attribute name='package'/>
  <xs:attribute name='proxy'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='initialized'/>
     <xs:enumeration value='uninitialized'/>
     <xs:enumeration value='now-initialized'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='uid'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='subcollection'>
  <xs:complexType>
   <xs:sequence>
     <xs:choice minOccurs='0' maxOccurs='unbounded'>
       <xs:element ref='element'/>
       <xs:element ref='subcollection'/>
       <xs:element ref='composite-element'/>
       <xs:element ref='array'/>
     </xs:choice>
   </xs:sequence>
  <xs:attribute name='class'/>
  <xs:attribute name='element-type'/>
  <xs:attribute name='index-type'/>
  <xs:attribute name='role'/>
  <xs:attribute name='index'/>
  <xs:attribute name='lazy'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='initialized'/>
     <xs:enumeration value='uninitialized'/>
     <xs:enumeration value='now-initialized'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  </xs:complexType>
 </xs:element>
 <xs:element name='uid'>
  <xs:complexType mixed='true'>
  <xs:attribute name='type'/>
  <xs:attribute name='name'/>
  </xs:complexType>
 </xs:element>
</xs:schema>
