src/NHibernate/nhibernate-configuration-2.2.xsd

<xs:schema targetNamespace='urn:nhibernate-configuration-2.2' xmlns='urn:nhibernate-configuration-2.2'
	xmlns:xs='http://www.w3.org/2001/XMLSchema'>
	<xs:annotation>
		<xs:documentation>
			This schema was automatically generated by Syntext Dtd2Schema
			conversion tool (from file: hibernate-configuration-2.0.dtd)
			Copyright (C) 2002, 2003 Syntext Inc. See http://www.syntext.com for updates.
		</xs:documentation>
	</xs:annotation>

	<!-- Type definitions -->
	<xs:simpleType name='cacheUsage'>
		<xs:restriction base='xs:string'>
			<xs:enumeration value='read-only' />
			<xs:enumeration value='read-write' />
			<xs:enumeration value='nonstrict-read-write' />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="classCache">
		<xs:attribute name='class' use='required' />
		<xs:attribute name='region' />
		<xs:attribute name='usage' use='required' type="cacheUsage" />
	</xs:complexType>
	<xs:complexType name="collectionCache">
		<xs:attribute name='collection' use='required' />
		<xs:attribute name='region' />
		<xs:attribute name='usage' use='required' type="cacheUsage" />
	</xs:complexType>

	<xs:element name='hibernate-configuration'>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref='session-factory' />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<!-- Caches -->
	<xs:element name="jcs-class-cache" type="classCache" />
	<xs:element name="class-cache" type="classCache" />
	<xs:element name="jcs-collection-cache" type="collectionCache" />
	<xs:element name="collection-cache" type="collectionCache" />
	
	<xs:element name='mapping'>
		<xs:annotation>
			<xs:documentation>
			There are 3 possible combinations of mapping attributes
			1 - resource &amp; assembly:  NHibernate will read the mapping resource from the specified assembly
			2 - file only: NHibernate will read the mapping from the file.
			3 - assembly only: NHibernate will find all the resources ending in hbm.xml from the assembly.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name='resource' />
			<xs:attribute name='file' />
			<xs:attribute name='assembly' />
		</xs:complexType>
	</xs:element>
	<xs:element name='property'>
		<xs:complexType mixed='true'>
			<xs:attribute name='name' use='required' />
		</xs:complexType>
	</xs:element>
	<xs:element name='session-factory'>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref='property' minOccurs='0' maxOccurs='unbounded' />
				<xs:element ref='mapping' minOccurs='0' maxOccurs='unbounded' />
				<xs:choice minOccurs='0' maxOccurs='unbounded'>
					<xs:element ref='jcs-class-cache' />
					<xs:element ref='class-cache' />
					<xs:element ref='jcs-collection-cache' />
					<xs:element ref='collection-cache' />
				</xs:choice>
			</xs:sequence>
			<xs:attribute name='name' />
		</xs:complexType>
	</xs:element>
</xs:schema>
