src/NHibernate/nhibernate-configuration-2.0.xsd

<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema'>
 <xs:annotation>
  -- This schema was automatically generated by Syntext Dtd2Schema --
  -- conversion tool (from file: hibernate-configuration-2.0.dtd) --
  -- Copyright (C) 2002, 2003 Syntext Inc. See http://www.syntext.com for updates. --
 </xs:annotation>
 <xs:element name='hibernate-configuration'>
  <xs:complexType>
   <xs:sequence>
     <xs:element ref='session-factory'/>
   </xs:sequence>
  </xs:complexType>
 </xs:element>
 <xs:element name='jcs-class-cache'>
  <xs:complexType>
  <xs:attribute name='class' use='required'/>
  <xs:attribute name='region'/>
  <xs:attribute name='usage' use='required'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='read-only'/>
     <xs:enumeration value='read-write'/>
     <xs:enumeration value='nonstrict-read-write'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  </xs:complexType>
 </xs:element>
 <xs:element name='jcs-collection-cache'>
  <xs:complexType>
  <xs:attribute name='collection' use='required'/>
  <xs:attribute name='region'/>
  <xs:attribute name='usage' use='required'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='read-only'/>
     <xs:enumeration value='read-write'/>
     <xs:enumeration value='nonstrict-read-write'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  </xs:complexType>
 </xs:element>
 <xs:element name='mapping'>
  <xs:complexType>
  <xs:attribute name='resource'/>
  <xs:attribute name='file'/>
  <xs:attribute name='jar'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='property'>
  <xs:complexType mixed='true'>
  <xs:attribute name='name' use='required'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='session-factory'>
  <xs:complexType>
   <xs:sequence>
     <xs:element ref='property' minOccurs='0' maxOccurs='unbounded'/>
     <xs:element ref='mapping' maxOccurs='unbounded'/>
     <xs:choice minOccurs='0' maxOccurs='unbounded'>
       <xs:element ref='jcs-class-cache'/>
       <xs:element ref='jcs-collection-cache'/>
     </xs:choice>
   </xs:sequence>
  <xs:attribute name='name'/>
  </xs:complexType>
 </xs:element>
</xs:schema>
